<z-card
  zTitle="Youtube Thumbnail Generator"
  zDescription="Input a YouTube URL and click Generate Images to generate multiple images"
>
  <form class="space-y-4" (submit)="onSubmit($event)">
    <z-form-field>
      <label for="url" z-form-label zRequired>Youtube Link</label>
      <z-form-control>
        <input
          id="url"
          z-input
          type="url"
          [zStatus]="isInvalidForm() ? 'error' : undefined"
          placeholder="Enter YouTube URL"
          [formField]="urlForm.url"
          autocomplete="off"
        />
      </z-form-control>

      @if (isInvalidForm()) {
        @for (error of urlForm.url().errors(); track error.message) {
          <z-form-message zType="error">{{ error.message }}</z-form-message>
        } @empty {
          <z-form-message zType="error">Please enter a valid YouTube URL.</z-form-message>
        }
      } @else {
        <z-form-message zType="default">Please enter a valid YouTube URL.</z-form-message>
      }
    </z-form-field>
    <button z-button zType="default" type="submit">Generate Images</button>
  </form>
</z-card>
