<div class="space-y-10">
  @if (errorMessage()?.length) {
    <z-alert zType="destructive" [zDescription]="errorMessage()"/>
  }
  <z-card
    zTitle="Youtube Thumbnail Generator"
    zDescription="Input a YouTube URL and click Generate Images to generate multiple images"
  >
    <form class="space-y-4" (submit)="onSubmit($event)">
      <z-form-field>
        <label for="url" z-form-label zRequired>Youtube Link</label>
        <z-form-control>
          <input
            id="url"
            z-input
            type="url"
            [zStatus]="isInvalidForm() ? 'error' : undefined"
            placeholder="Enter YouTube URL"
            [formField]="urlForm.url"
            autocomplete="off"
          />
        </z-form-control>

        @if (isInvalidForm()) {
          @for (error of urlForm.url().errors(); track error.message) {
            <z-form-message zType="error">{{ error.message }}</z-form-message>
          } @empty {
            <z-form-message zType="error">Please enter a valid YouTube URL.</z-form-message>
          }
        } @else {
          <z-form-message zType="default">Please enter a valid YouTube URL.</z-form-message>
        }
      </z-form-field>
      <div class="flex space-x-4">
        <button z-button zType="default" type="submit" class="space-x-2">
          @if (isLoading()) {
            <z-loader/>
          }
          Generate Images
        </button>
        @if(generatedImages()?.length) {
          <button z-button zType="default" type="button" (click)="downloadAll()">Download All Images</button>
        }
      </div>
    </form>
  </z-card>
  <div class="grid lg:grid-cols-2 lg:grid-rows-2 gap-10">
    @for (image of generatedImages(); track image) {
      <z-card [zTitle]="'Generated Image ' + image.type" zAction="Download generated Image"
              (zActionClick)="downloadImage(image)">
        <img [src]="image.dataUrl" alt="" class="w-full h-auto"/>
      </z-card>
    }
  </div>
</div>
